.stkFilterPopupList{
	vertical-align: middle;
}

.bookList{
	height: 600px;
}

.lblTitle{
	font-weight: bold;
	text-align: center;
	font-size: 24px;
}

.margintop20{
	margin-top: 20px;
}

.itemBlock{
	padding: 20px;
	width: 100%;
}

.odd {
	background-color: white;
}

.even {
	background-color: #eee;
}


.lblChkIcon{
	text-align: right;
	width: 100%;
	font-size: 26px;
}

.btnSubmit{

	margin-top: 30px;

}
