<StackLayout class='stkFilterPopupList' tkMainContent>
	<GridLayout  rows="auto, *, auto">
		<Label row="0" text="请选择灵修书目" class="lblTitle"></Label>
		<ListView row="1" [items]="bookList" (itemTap)="onItemTap($event)">
			<ng-template let-item="item" class='itemBlock' let-odd="odd" let-even="even">
				<StackLayout orientation="horizontal" [class.odd]="odd" [class.even]="even" class="itemBlock">
					<Label [text] = "item.name" ></Label>
					<Label [text]="item.selected?'&#xf26a;':'&#xf279;'" class="material-icon lblChkIcon"></Label>
				</StackLayout>
			</ng-template>
		</ListView>
		<Button row="2" text="提交" (tap)="submit()" class='btn btn-primary btnSubmit'></Button>
	</GridLayout>

</StackLayout>
