<ScrollView>

	<GridLayout rows="auto, *" visibility="{{pageLoaded ? 'visible':'hidden'}}" >

		<StackLayout row="0">
			<Label [text]="item?item.title:''" class="title" textWrap="true"></Label>
			<Label [text]="item?item.subTitle:''" textWrap="true"></Label>

			<GridLayout columns="*,*">

				<Button col="0" row="0" text={{btnTitle}} (tap)="togglePlay()" visibility="{{loaded ? 'visible':'hidden'}}" class='btn btn-primary'></Button>
				<ActivityIndicator visibility="{{loaded ? 'hidden':'visible'}}"  col="0" row="0" busy="true" width="100" height="50" class="activity-indicator"></ActivityIndicator>

				<!-- <Label col="1" row="0" width="50%" visibility="{{totalLength_s ? 'visible':'hidden'}}" [text]="trans('Total Length: ','长度：') + totalLength_s" class='lblProgress'></Label> -->


				<Label col="1" row="0" width="50%" text="{{currentTime_s}} / {{totalLength_s}} " class='lblProgress'></Label>
			</GridLayout>

			<Progress [value]="progressValue" height="20" maxValue="100" class="m-20"></Progress>


		</StackLayout>

		<StackLayout row="1" visibility="{{ rssType=='qt'  ? 'visible' : 'collapse'}}">


			<StackLayout orientation="horizontal" >
				<Button [text]="trans('scripture','经文')" (tap)="show('scripture')" class='btn' [ngClass]="{'btn-primary':showType==='scripture', 'inactive': showType!=='scripture'}" ></Button>
				<Button [text]="trans('Share','分享')" (tap)="show('share')" class='btn' [ngClass]="{'btn-primary':showType==='share', 'inactive': showType!=='share'}"></Button>
				<Button [text]="trans('Note','笔记')" (tap)="show('note')" class='btn' [ngClass]="{'btn-primary':showType==='note', 'inactive': showType!=='note'}"></Button>

			</StackLayout>
			<ScrollView  orientation="vertical" visibility="{{ showType==='scripture' ? 'visible' : 'collapse'}}" sdkExampleTitle sdkToggleNavButton>
				<HtmlView [html]="(item && item.scripture)?item.scripture:''" ></HtmlView>
			</ScrollView>
			<ScrollView  orientation="vertical" visibility="{{ showType==='share' ? 'visible' : 'collapse'}}" sdkExampleTitle sdkToggleNavButton>
				<HtmlView [html]="item?item.summary:''" ></HtmlView>
			</ScrollView>
			<ScrollView  orientation="vertical" visibility="{{ showType==='note' ? 'visible' : 'collapse'}}" sdkExampleTitle sdkToggleNavButton>
				<StackLayout>
					<Label [text]="customItem?customItem.title:''" class='noteTitle'></Label>
					<Label [text]="customItem?customItem.note:''" class='noteContent' ></Label>
					<Button text="Add Note" class='btn btn-primary' (tap)="addNote()"></Button>
				</StackLayout>
			</ScrollView>
		</StackLayout>


	</GridLayout>

</ScrollView>
